{% extends "poll/layout.html" %}
{% load widget_tweaks %}

{% block title %}Create Poll{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="candidate">Enter Poll Question</label>
                                {% render_field form.question class="form-control" rows="2" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--<div class="col-lg-4">
        <div class="form-group">
            <label for="candidate1">Candidate 1</label>
            {% render_field form.candidate_one class="form-control" %}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="Candidate2">Candidate 2</label>
            {% render_field form.candidate_two class="form-control" %}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="Candidate3">Candidate 3</label>
            {% render_field form.candidate_three class="form-control" %}
        </div>
    </div>-->
                        <!--<div class="col-lg-4">
                            <div class="form-group">
                                <label for="Candidate">Candidates </label>
                                {% render_field form.candidate class="form-control" %}{{poll.choice_text}}
                            </div>
                        </div>-->
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Create</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}