{% extends "poll/layout.html" %}
{%load static%}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose Your Candidates</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{ poll.question }}</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <hr />

                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                           
                                <fieldset>
                                    <!--<legend>
                                        <h1>{{ poll.question }}</h1>
                                    </legend>-->
                                    <!--{% if error_message %}
                                    <p>
                                        <strong>{{ error_message }}</strong>
                                    </p>{% endif %}-->
                                    {% for choice in poll.choice_set.all %}
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                    <label for="choice{{ forloop.counter }}">
                                        <div class="">
                                            <!--<img class="" src="{{request.user.choice.profile_pic.url }}">-->

                                            <!--<img class="" src="{{choice.profile_pic}}">--> 
                                            {{ choice.choice_text }}
                                            {{ choice.description_text }}
                                        </div>
                                    </label><br>
                                    {% endfor %}
                                </fieldset>
                            </div>

                            <hr />
                               {% if error_message %}
                                    <p>
                                        <strong>{{ error_message }}</strong>
                                    </p>{% endif %}
                            <button type="submit" value="Vote" class="btn btn-outline-success my-2 my-sm-0">
                                Vote
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}